*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: #e3edf7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill{
    width: 160px;
    height: 160px;
    /* background-color: cornflowerblue; */
    position: relative;
}
.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    /* border: solid 1px red; */
    box-shadow: 6px  6px 10px -1px rgba(0,0,0,0.15),
                -6px  -6px 10px -1px rgba(255,255,255,0.7);
    padding: 20px;
}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    /* border: solid 1px red; */
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px  0px rgba(255,255,255,1),
                0.5px 0.5px  0px rgba(255,255,255,0.15),
                0px 12px  10px -10px rgba(0,0,0,0.05);
                display: flex;
                align-items: center;
                justify-content: center;
}
#number1,#number2,#number3,#number4,#number5{
    font-weight: 600;
    color: #555;
}
.circle1{
    fill:none;
    /* stroke: cornflowerblue; */
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: anim1 2s linear forwards;
}
.circle2{
    fill:none;
    /* stroke: cornflowerblue; */
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: anim2 2s linear forwards;
}
.circle3{
    fill:none;
    /* stroke: cornflowerblue; */
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: anim3 2s linear forwards;
}
.circle4{
    fill:none;
    /* stroke: cornflowerblue; */
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: anim4 2s linear forwards;
}
.circle5{
    fill:none;
    /* stroke: cornflowerblue; */
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: anim5 2s linear forwards;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim1{
    100%{
        stroke-dashoffset: 1;
    }
}
@keyframes anim2{
    100%{
        stroke-dashoffset: 31.2;
    }
}
@keyframes anim3{
    100%{
        stroke-dashoffset: 105.6;
    }
}
@keyframes anim4{
    100%{
        stroke-dashoffset: 290.4;
    }
}
@keyframes anim5{
    100%{
        stroke-dashoffset: 66;
    }
}
